.edit-form__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 34px 36px 0;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .edit-form__form {
        margin: 25px 22px 0;
    }
}